@import "../../node_modules/codemirror/lib/codemirror.css";
@import "../../node_modules/codemirror/theme/ambiance.css";
@import "../../node_modules/codemirror/addon/lint/lint.css";

html, body { height:100%; }

.CodeMirror, #console {
  font-family: 'Source Code Pro';
  line-height: 1.2;
  font-size: 14px;
  height: 100%;
}

.CodeMirror-activeline-background {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.131) !important;
}

.wrap {
  overflow: hidden;
  height: auto;
  width: 100%;
  position: absolute;
  top: 57px;
  bottom: 0;
}

.toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  z-index: 999;
}

.toolbar button {
  float: right;
  margin-right: 10px;
  padding: 8px 16px;
  color: #fff;
  background: #68bb68;
  /* border-radius: 6px; */
}

#editor {
  float: left;
  width: 100%;
}

.preview {
  float: left;
  width: 50%;
  max-width: 200px;
  height: 100%;
}

.grid {
  height: 100%;
  overflow: hidden;
}

.grid.is-dragging {
  -webkit-user-select: none;
  user-select: none;
}

.item-left {
  position: relative;
  float: left;
}

.item-right {
  float: left;
}

.handler {
  position: relative;
  z-index: 100;
  background: #f6f6f6 url(../images/handler.png) left 50% no-repeat;
  width: 10px;
  float: left;
  cursor: col-resize;
}

#console {
  color: #eed1b3;
  background: #202020;
  border-radius: 5px 5px 0px 0px;
}

#console .logs {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 40px);
}

#console .logs p {
  margin: 5px 0 10px;
}

#console h2 {
  border-radius: 5px 5px 0px 0px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'Source Code Pro';
  margin: 0;
  background: #3d3d3d;
  box-shadow: 0 10px 20px black;
  border-bottom: 1px solid #4D4D4D;
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #111;
  padding: 5px 10px;
  cursor: default;
  font-weight: normal;
  user-select: none;
  -webkit-user-select: none;
}

#console .log-player-0,
#console .log-player-1 {
  background-color: transparent;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#console .log-player-0 {
  background-color: #e86a17;
}

#console .log-player-1 {
  background-color: #1ea7e1;
}

#console .logs > p {
  margin-top: 20px;
}

#console span {
  margin-right: 20px;
}

#console pre {
  margin: 0 0 0 20px;
  color: #ddd;
}

#console span em {
  margin-left: 4px;
  color: #78cf8a;
}
