@keyframes star {
  0%   { transform: rotate(0deg);   }
  12%  { transform: rotate(90deg);  }
  24%  { transform: rotate(180deg); }
  36%  { transform: rotate(270deg); }
  48%  { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes crash {
  from { opacity: 1;    transform: scale(1); }
  70%  { opacity: 0.9;  transform: scale(1.5); }
  to   { opacity: 0;  transform: scale(1.8); }
}

@keyframes crashed {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.playground .crashed {
  animation: crashed 1s linear 0s forwards;
}

.playground {
  position: relative;
  background: #e7dfc2 url(../images/ground.png);
  background-size: 50px 50px;
  transform-origin: left top;
}

.playground .stone {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent url(../images/stone.png) left top no-repeat;
  background-size: 100%;
}

.playground .grass {
  z-index: 3;
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent url(../images/grass.png) left top no-repeat;
  background-size: 100%;
}

.playground .star {
  z-index: 4;
  position: absolute;
  overflow: hidden;
  background: transparent url(../images/star.png) center center no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
  animation: star 10s linear 2s infinite;
}

.playground .player {
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent url(../images/tank1.png) left top no-repeat;
  background-size: 100%;
}

.playground .player.player2 {
  background-image: url(../images/tank2.png);
}

.playground .bullet {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent url(../images/bullet1.png) left top no-repeat;
  background-size: 100%;
}

.playground .crash {
  z-index: 4;
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent url(../images/crash1.png) left top no-repeat;
  background-size: 100%;
}

.playground .crash.play {
  animation: crash 1s linear 0s forwards;
}

.playground .bullet.bullet2 {
  background-image: url(../images/bullet2.png);
}

.playground .status {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color: #f1f1f1;
  user-select: none;
  -webkit-user-select: none;
}

.playground .star-bar {
  height: 40px;
  overflow: hidden;
}

.playground .player-bar {
  height: 40px;
  overflow: hidden;
}

.playground .player1-bar {
  float: left;
  background: transparent url(../images/tank1_small.png) left center no-repeat;
  padding-left: 50px;
  background-size: 40px 40px;
}

.playground .player2-bar {
  float: right;
  padding-right: 50px;
  background: transparent url(../images/tank2_small.png) right center no-repeat;
  background-size: 40px 40px;
}

.playground .player-bar .star-count {
  position: relative;
  top: 1px;
  font-family: 'Source Code Pro';
  text-align: center;
  color: #EBB12B;
  width: 40px;
  line-height: 38px;
  height: 40px;
  background: transparent url(../images/star_small.png) left center no-repeat;
  background-size: 40px 40px;
}

.playground .player1-bar .star-count {
  float: left;
}

.playground .player2-bar .star-count {
  float: right;
}

.playground .player-bar .name {
  line-height: 45px;
}

.playground .player1-bar .name {
  float: left;
  margin-left: 10px;
}

.playground .player2-bar .name {
  float: right;
  margin-right: 10px;
}

.playground .frames {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  top: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  cursor: default;
}

.playground .window {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.7);
}

.playground .modal {
  position: absolute;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 99999;
  background-color: #1ea7e1;
  border: 2px solid #1989B8;
  -webkit-box-shadow:inset 1px 1px 1px 1px #35BAF3;
  box-shadow:inset 1px 1px 1px 1px #35BAF3;
  text-align: center;
}

.playground .modal .content {
  position: absolute;
  top: 40px;
  height: 360px;
  width: 100%;
  margin-left: -2px;
  border-radius: 8px;
  background-color: #eeeeee;
  border: 2px solid #aca5a2;
  -webkit-box-shadow:inset 1px 1px 1px 1px #ffffff;
  box-shadow:inset 1px 1px 1px 1px #ffffff;
}

.playground .modal .content p {
  margin: 0 auto 10px;
}

.playground .modal .title {
  color: #e2f9ff;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.playground .modal .content p.section-title {
  margin: 20px auto 2px;
  font-weight: bold;
}

.playground .modal .winner-img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.playground .modal .winner-img0 {
  background-image: url(../images/tank1_small.png);
}

.playground .modal .winner-img1 {
  background-image: url(../images/tank2_small.png);
}

.playground .modal button {
  margin-top: 20px;
  padding: 8px 26px;
  border: none;
  color: #fff;
  background: #68bb68;
  font-size: 18px;
  border-radius: 4px;
}
