extends layout

block content
  include ./include/header.jade
  .wrap
    .grid
      section.item.item-left
        .toolbar
          button.button.small-button.is-disabled.publish-btn.js-publish 保存
          button.button.small-button.preview-btn.js-preview 预览
        #editor
      .handler
      section.item.item-right
        section.item.item-top
          #playground
        section.item.item-bottom
          #console
            h2 Console
            .logs
  script.
    existedCode = !{JSON.stringify(code)}
  script(src="/public/js/editor.js")
