extends layout

block content
  include ./include/header.jade
  .wrap
    #editor
    div.playground-container.js-playground
      .js-close-playground X
      #playground
    .toolbar
        button.button.small-button.is-disabled.publish-btn.js-publish.item 保存
        .preview-options
          input.js-enemy(type="text", name="enemy", placeholder="对手用户名，留空与相同代码对战")
          select.js-speed(name="speed")
            option(value="0.5") 0.5倍速
            option(value="1", selected="selected") 1倍速
            option(value="2") 2倍速
            option(value="5") 5倍速
          select.js-map(name="map")
            each map in maps
              option(value=map.id) #{map.name}
          button.button.small-button.preview-btn.js-preview 预览
  script.
    existedCode = !{JSON.stringify(code)}
  script(src="/public/js/editor.js")
