extends layout

block content
  .index.perspective
    .logo
      img(src="/public/images/logo.png", width="378", height="47", alt="Code Game")
    h2.desc Code GAME 是一个通过编写 AI 脚本控制坦克进行比赛的游戏
    a(href="/account/github")
      button.start
    p 或先
      a(href="/doc") 查看规则与开发文档
  #preload
    img(src="/public/images/start-btn-hover.png")
