extends layout

block content
  include ./include/header.jade
  script.
    var maps = !{JSON.stringify(maps)}
    var user1 = !{JSON.stringify(user1)}
    var user2 = !{JSON.stringify(user2)}
  .wrap.is-dark
    .select-maps
      ul.js-select-map
    .vs-playground
      div.js-playground-layout
        p.hint 请选择地图
        #playground
    .share
      a.js-weibo(target="_blank")
        img(src="/public/images/share/weibo.png", width="32", height="32")
      a.js-twitter(target="_blank")
        img(src="/public/images/share/twitter.png", width="32", height="32")
  script(src="/public/js/vs.js")
