extends layout

block content
  include ./include/header.jade
  script.
    var maps = !{JSON.stringify(maps)}
    var user1 = !{JSON.stringify(user1)}
    var user2 = !{JSON.stringify(user2)}
  .wrap.is-dark
    .select-maps
      ul.js-select-map
    .vs-playground
      div.js-playground-layout
        p.hint 请选择地图
        #playground
  script(src="/public/js/vs.js")
