extends layout

block content
  include ./include/header.jade
  script.
    var result = !{JSON.stringify(result)}
    var names = !{JSON.stringify(names)}
  .vs-playground
    div
      #playground
  #console
  script(src="/public/js/vs.js")
