header.top
  a(href="/")
    img.header-logo(src="/images/header-logo.png", width="174", height="25", alt="Code Game")
  ul.pull-left
    if me
      li
        a(href="/#{me.login}") 个人主页
    else
      li
        a(href="/") 首页
    li
      a(href="/rank") 排行榜
    li
      a(href="/doc") 文档
    li
      a(href="https://github.com/luin/CodeGame/issues") 讨论
  if me
    ul.pull-right
      li #{me.name}
      li
        a(href="/account/logout") 退出
