extends ../layout

block content
  include ../include/header.jade
  .container
    aside
      ul
        li 游戏介绍
        li
          a(href="/doc/tournament") 杯赛规则
        li
          a(href="/doc/api") AI 编写文档
    article
      h2 概述
        span 什么是 Code Game
      p Code Game 是一个使用 JavaScript 代码编写 AI 脚本来和他人进行对抗的游戏平台。

      h2 玩法
        span 了解 Code Game 的地图、规则和获胜条件
      p Code Game 以坦克大战游戏为原型，每局比赛由两名玩家参与，每名玩家以事先编写好的 JavaScript 脚本参与比赛，每名玩家控制一辆坦克。

      h3 地图介绍
      p 游戏地图为矩形，如下所示：
      img(src="/public/images/doc/map.png" width="634" height="540" alt="游戏地图")
      p 其中各个元素的介绍如下：
      ul.elements
        li
          img(src="/public/images/stone.png" width="50" height="50" alt="石头")
          p 石头。坦克和炮弹均无法通行，每个游戏地图最外圈都是由石头围成的。
        li
          img(src="/public/images/grass.png" width="50" height="50" alt="草丛")
          p 草丛。坦克和炮弹均可以通行，但处于草丛中的坦克无法被对手发现。
        li
          img(src="/public/images/tank1.png" width="50" height="50" alt="玩家1")
          p 玩家 1 控制的坦克
        li
          img(src="/public/images/tank2.png" width="50" height="50" alt="玩家2")
          p 玩家 2 控制的坦克
        li
          img(src="/public/images/star.png" width="50" height="50" alt="星星")
          p 星星。坦克可以收集星星。

      p
        strong 需要注意的是地图的尺寸和各个元素的位置可能会发生变化，未来游戏也会支持多个地图，所以请通过 API 接口获取地图信息，而不要在脚本中硬编码。
      h3 游戏规则
      p 游戏以“帧”为时间单位，“格”为距离单位。一格的距离是一个元素（即石头、草丛等）的大小，如上面的地图的宽度为 19 格。其中：
      ol
        li 坦克一帧可以移动一格
        li 坦克开火需要一帧时间
        li 坦克 90 度原地转弯需要一帧时间
        li 炮弹一帧可以移动两格
      p 对坦克来说，可以进行的操作为“前进”、“向左转”、“向右转”和“开火”，同一时间内只能进行一个操作（比如开火时需要静止）。
      p 星星每次都会出现在两辆坦克的中央位置（即[(x1 + x2) / 2, (y1 + y2) / 2]），场上最多只会存在一个星星。星星第一次会在第一帧出现，当星星被坦克收集到后，10帧后将会再次出现。<strong>如果出现时的中央位置无法放置星星（该位置为石头）或者无法计算出中央位置（两辆坦克相邻偶数格，这时计算出的中间位置坐标为小数）时，星星会延至下一帧出现。</strong>
      p 每个地图坦克出场位置和朝向都是固定的。

      h3 脚本可见规则
      p 尽管作为观看者可以看到游戏中各个元素的位置，但是出于竞技性考虑，AI 脚本并非如此，具体规则如下。
      ul
        li 可以看到敌方坦克的位置和朝向，除非敌方坦克处于草丛中
        li 可以看到星星的位置，即使星星处于草丛中
        li 己方坦克仅当面向敌方子弹且与敌方子弹处于同一条直线、两者间没有障碍物（石头）时才能看到敌方子弹；己方子弹永久可见。

      h3 胜利条件
      p 游戏的胜利条件按优先级排列如下：
      ol
        li 一方击中另一方坦克时即获胜
        li 如果第 128 帧时两辆坦克均存活，游戏即结束，收集星星较多的坦克获胜
        li 如果两辆坦克收集的星星数量相同，代码执行时间短的玩家获胜
      p 例外的情况是如果一方的代码运行出错或超时，即告负。
